.container {
  min-height: 99vh;
  border-top: 1px solid lightgrey;
}

.main {
  display: flex;
  align-items: flex-start;
}

.right {
  display: none;
}
.mid {
  width: 80%;
}
.left {
  width: 20%;
}
.mid {
  /* flex: 2; */

  height: 88vh;
  overflow-y: scroll;
}

@media (max-width: 920px) {
  .right {
    display: none;
  }
  .mid {
    width: 70%;
  }
  .left {
    width: 30%;
  }
}

@media (max-width: 720px) {
  .right {
    display: none;
  }
  .mid {
    width: 93%;
  }
  .left {
    width: 7%;
  }
}

@media (max-width: 480px) {
  .right {
    display: none;
  }
  .mid {
    width: 90%;
  }
  .left {
    width: 9%;
  }
}


@media (max-width: 380px) {
  .right {
    display: none;
  }
  .mid {
    width: 88%;
  }
  .left {
    width: 10%;
  }
}

