.container {
  min-height: 90vh;
  overflow-y: scroll;
  width: 100%;
}

.wrapper {
  padding: 10px;
  width: 100%;
}

.folders {
  margin-bottom: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.action {
  cursor: pointer;
}

.innerItem {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 7px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 95%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.selected {
  position: absolute;
  bottom: -15px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  padding: 5px;
  background: white;
  border: 1px solid lightgrey;
  color: var(--icon);
  border-radius: 3px;
}

.item {
  padding: 2px;
  border-radius: 3px;
}

.item:hover {
  background: var(--theme);
}

.item:hover {
  border: 2px solid var(--theme);
}
.icon {
  color: var(--icon);
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.recent {
  flex-wrap: nowrap;
}

.recent::-webkit-scrollbar {
  width: 0rem;
}

.nav {
  display: flex;
  align-items: center;
  /* gap: 3px; */
  gap: -1px;
  font-weight: bold;
  color: #333;
}

.nav {
  color: var(--theme);
}

.current {
  color: #333;
}

.route {
  padding-bottom: 3px;
  cursor: pointer;
}

.nav:first-child .route {
  color: var(--icon);
}

.nav:first-child .navIcon {
  color: var(--icon);
}

.nav {
  color: rgb(255, 183, 0);
}

.navIcon {
  margin-left: -4px;
}
.navIcon:nth-child(1) {
  color: var(--icon);
}

.nav:last-child {
  color: black;
}

.formContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg1);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9;
}

.formContainer form {
  padding: 1.5rem;
  background: var(--theme);
  z-index: 10;
}

.formContainer input {
  padding: 6px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  /* border: 1px solid var(--icon); */
}
.formContainer input:hover {
  border: 1px solid gold;
}

.formContainer .submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.formContainer .btn {
  padding: 3px;
  font-size: 90%;
  border-radius: 3px;
  text-align: center;
  width: 45%;
  cursor: pointer;
}

.formContainer .btn:nth-child(1) {
  background-color: var(--btn1);
}

.formContainer .btn:nth-child(2) {
  background-color: var(--icon);
}

@media (max-width: 920px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 870px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
